<h2>Events the Component</h2>
<hr />

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
    [(ngModel)]="filterList"
    />
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sn"
          style="
            --bs-btn-padding-y: 0.25rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.75rem;
          "
          (click)="hideImage()"
        >
          {{ showImage ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of eventsFiltrados">
      <td>
        <img
          [collapse]="!showImage"
          [isAnimated]="true"
          src="/assets/{{ event.imagemURL }}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        />
      </td>
      <td>{{ event.eventId }}</td>

      <td>{{ event.tema }}</td>
      <td>{{ event.local }}</td>
      <td>{{ event.dataEvent }}</td>
      <td>{{ event.qntPessoas }}</td>
      <td>{{ event.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
